/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilitis */

body{
    padding-top: 100px;
}

a{
    text-decoration: none;
    color:white;
    padding:10px;   
}

img{
    width: 100%;
    height: auto;
    display: flex;
}

span{
    padding: 5px;
}



/* header */

.nav-box{
    height: 80px;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.lista{
    list-style: none;
    display: flex;  
}

.img-logo{
    height: 80px;
    
}

.nav-icone{
    padding: 10px;
}

.nav-countainer{
    max-width: 1080px;
    margin:0 auto;
    display:flex;
    align-items: center ;
    justify-content: space-between;
}

/* Main */

.countainer{
    max-width: 1080px;
    margin:0 auto;
}

.col{
    min-height: 200px;
   
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width:350px;
    padding: 10px;
    position:relative;
}

.card-description{
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
}

.price-red{
    color:red;
}

.price-through{
    text-decoration: line-through;
}

.discount{
    background-color: red;
    color:white;
    position:absolute;
    bottom: 40px;
}

.sosteneble{
    background-color: green;
    color:white;
    position: absolute;
    bottom: 40px;
    left: 50px;
}


.sosteneble-bordo{
    background-color: green;
    color:white;
    position: absolute;
    bottom: 40px;
}

.heart{
    background-color: white;
    padding:10px;
    position:absolute;
    right: 10px;
    top:20px;
}

.card-img-a:hover{
    content:url(../img/1b.webp);
}

.card-img-b:hover{
    content:url(../img/2b.webp);
}

.card-img-c:hover{
    content:url(../img/3b.webp);
}

.card-img-d:hover{
    content:url(../img/4b.webp);
}

.card-img-e:hover{
    content:url(../img/5b.webp);
}

.card-img-f:hover{
    content:url(../img/6b.webp);
}


.heart:hover{
    color:red;
}